{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome</h2>
    <input style='width:300px;margin-left:10px;height:25px;padding:12px; background-color: white' type="text" id="titre" name="titre" value="{{sondage.titre}}" disabled />

    {{ form_start(form) }}
    {{ form_row(form.texte) }}
    {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
    <div class="col-sm-8 col-sm-offset-2" id="option_list" data-prototype="{{ form_widget(form.options.vars.prototype)|e('html_attr') }}">

        {% for row in form.options %}
            <div class="panel panel-warning">
                <br/><br/>
                <div  class="panel-heading"> <strong>Options</strong> </div>
                <div class="panel-body">
                    {{ form_row(row) }}

                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_end(form) }}
{% endblock %}