
{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
<br>
<h1 style="color: white; margin-left: 20px;"> Choisir un type de rémunération : </h1><br>
<div class="container" style="  border:1px solid  #0A1538 ;border-radius:5px;margin-left: 100px; width: 450px; height: 300px; ">
    <br><br>
    <div style=" margin-left: -10px; ">
        <input type='radio' id='chk' name="r"  /> 
        <label >Cadeau :</label> 
    </div> <br>
    <div id="myDiv" style="margin-left: 30px;">
        {{ form_row(form.contenu,{'attr':{'class':'form-control'}}) }} 
    <br><br><br><br>
  <button  class="btn btn-primary" style="background-color:white; color: #0A1538; border-color:#0A1538 ;margin-left: -15px; ">Terminer</button>

</div>
{{ form_end(form) }}




{{ form_start(form1) }}
<div class="container" style=" border:1px solid  #0A1538 ;border-radius:5px; margin-left: 520px; width: 480px; height: 300px; margin-top: -260px; float: left;">
   <br><br>
    <div style=" margin-left: -10px; ">
        <input type='radio' id='chk1'  name="r"/> 
        <label >Remise :</label> 
    </div> <br>
    <div id="myDiv1" style="margin-left: 30px;">
        {{ form_row(form1.pourcentage,{'attr':{'class':'form-control'}}) }}
    </div><br><br><br><br>
    <button  class="btn btn-primary" style="background-color:white; color: #0A1538;margin-left: 15px; border-color:#0A1538">Terminer</button>
  </div>
{{ form_end(form1) }}

<button  class="btn btn-primary" style="background-color:white; color: #0A1538; border-color:#0A1538 ; margin-top: 40px; margin-left: 1000px;"><a  href="{{ path('AjoutRemuneration')}}" style="color: #0A1538;">Ajouter un type</a></button>

{% endblock %}