{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
    <h1>Sondage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>NbParticipant</th>
                <th>NbQuestion</th>
                <th>NbReponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sondage in sondages %}
            {% for question in sondage.questions %}

                <tr>
            <td>{{ sondage.id }}</td>
            <td>{{ sondage.titre }}</td>
            <td>{{ sondage.nbParticipant }}</td>
            <td>{{ sondage.nbQuestion }}</td>
            <td>{{ sondage.nbReponse }}</td>

            <td>
            <button type="button"  > <a style="color:black" href="{{ path('sondage_show', {'id': sondage.id}) }}">show</a></button>
            <button  type="button" > <a style="color:black"  href="{{ path('sondage_edit', {'id': sondage.id}) }}">edit</a></button>
            <button  type="button" > <a style="color:black"  href="{{ path('question_new', {'id': sondage.id}) }}">ajouter un question</a></button>

                    <button  type="button" > <a style="color:black" href="{{ path('option_new',{'id':question.id} ) }}">ajouter option</a></button>





            {% endfor %}
            </td></tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sondage_new') }}">Create new</a>
{% endblock %}
