{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
    
   <br>
    <h2 style="text-align: center; padding: 20px; color:  #0A1538;">Modifier mes Informations  </h2>
        <br>
        <div style="margin-left: 100px;margin-right: 160px ;" >
          {{form_start(form)}}
        <p style="color: #0A1538;">{{form_label(form.photo)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.photo)}}</p>

        <p style="color: #0A1538;">{{form_label(form.nom)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.nom)}}</p>

        <p style="color: #0A1538;">{{form_label(form.prenom)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.prenom)}}</p>

        <p style="color: #0A1538;">{{form_label(form.adresse)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.adresse)}}</p>

        <p style="color: #0A1538;">{{form_label(form.email)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.email)}}</p>

        <p style="color: #0A1538;">{{form_label(form.motDePasse)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.motDePasse)}}</p>

        <p style="color: #0A1538;">{{form_label(form.cin)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.cin)}}</p>

        <p style="color: #0A1538;">{{form_label(form.tel)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.tel)}}</p>

        <p style="color: #0A1538;">{{form_label(form.dateNaissance)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.dateNaissance)}}</p>

        <p style="color: #0A1538;">{{form_label(form.genre)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.genre)}}</p>

        <br><br><br>
        
          
        <p style="margin-left: 290px;">{{form_widget(form.save_sonde,{ 'attr': {'class': 'btn btn-primary'} })}}</p>
        <p style="margin-left: 50px;margin-top: -43px;">{{form_widget(form.save_enqueteur,{ 'attr': {'class': 'btn btn-primary'} })}}</p>
         {{form_end(form)}}

        
        </br>
      </div>
   
{% endblock %}